body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.tabulator {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tabulator .tabulator-header .tabulator-col-title {
    white-space: pre-line;
    padding: 4px;
    line-height: 1.2;
}

.tabulator .tabulator-cell {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    line-height: 1.2;
}

#filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.filter {
    background: #f3f4f6;
    padding: 8px;
    border-radius: 5px;
}

.filter-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
